.link-card-table-list {
  display: flex;
  flex-direction: column;
  gap: var(--navds-spacing-3);
}
.link-card-table-row {
  display: grid;
  grid-auto-flow: column;
  gap: var(--navds-spacing-8);
  align-items: center;
}
.navds-link-panel__content {
  flex: 100;
}

.navds-link-panel.selected__row {
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1rem;
  padding-right: 2rem;
}
