.oppgavestatus {
  margin-top: .5rem;
  font-size: 1.25rem;
}

.maa_behandles, .oppfylt, .ikke_oppfylt {
  color: var(--navds-semantic-color-text-muted);
}

.maa_behandles > svg {
  color: var(--navds-semantic-color-feedback-warning-icon);
}

.oppfylt > svg {
  color: var(--navds-semantic-color-feedback-success-icon);
}

.ikke_oppfylt > svg {
  color: var(--navds-semantic-color-feedback-danger-text);
}
