.oppgaveliste > a {
  font-size: 1.25rem;
  min-height: 6vh;
  padding: .5rem 1rem;
  text-decoration: none;
}

.oppgaveliste > a:not(:last-child) {
  border-bottom: 1px solid var(--navds-semantic-color-border-muted);
}

.oppgaveliste > a:hover {
  background-color: hsla(0, 0%, 90%, .5); /** ikke fra design **/
}

.oppgaveliste > a.active {
  border-left: 10px solid var(--navds-semantic-color-interaction-primary);
  background-color: var(--navds-semantic-color-interaction-primary-hover-subtle);
  color: var(--navds-semantic-color-text);
  font-weight: 900;
}
