.status {
  margin-left: .5rem;
}

.status__ok > svg {
  color: var(--navds-semantic-color-feedback-success-icon);
}

.status__nok > svg {
  color: var(--navds-semantic-color-feedback-danger-icon);
}

.status__manuell > svg {
  color: var(--navds-semantic-color-feedback-warning-icon);
}

.status__beskrivelse {
  margin-left: .25rem
}
