.status {
  margin-left: .5rem;
  font-weight: 700;
}

.status__ok {
  color: var(--navds-semantic-color-feedback-success-icon);
}

.status__nok {
  color: var(--navds-semantic-color-feedback-danger-icon);
}

.status__manuell {
  color: var(--navds-semantic-color-feedback-warning-icon);
}

.status__beskrivelse {
  margin-left: .25rem
}
