.devTools {
  position: fixed;
  bottom: 10vh;
  right: 1px;
  overflow-x: hidden;

  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.toolbox {
  overflow: hidden;
  min-width: 250px;
  background-color: hsl(0, 100%, 100%);
  padding: 0.5rem;
  border-width: 2px;
  border-bottom-left-radius: 20px;
  border-color: hsl(0, 0%, 33%);
  border-right: transparent;
  border-style: solid;
}

.toolbox.hidden {
  margin-right: -250px;
  transition: margin-right 500ms ease-in;
}

.toolbox.visible {
  margin-right: 0;
  transition: margin-right 500ms ease-out;
}
