.seksjon {
  margin-top: 1rem;
}

.seksjon + .seksjon {
  margin-top: 2rem;
}

.seksjon__heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;

  margin-bottom: .5rem;
}

.seksjon__sub__blokk:not(:last-of-type) {
  margin-bottom: 1rem;
}

.green {
  color: var(--navds-semantic-color-feedback-success-icon);
}

.red {
  color: var(--navds-semantic-color-feedback-danger-icon);

}

.kolonne {
  display: flex;
  flex-direction: column;
}

.kolonne:not(:last-child) {
  margin-right: 1rem;
}

.key {
  font-weight: 900;
}

.kolonne > .key {
  margin-bottom: 0.5rem;
}

.value {
  font-weight: 400;
}

.rad {
  display: flex;
  flex-direction: row;
}

.mnd__caption::first-letter {
  text-transform: uppercase;
}

.innrykk {
  margin-left: .5rem;
  padding: 1rem 1rem 1.25rem;
  border-left: .5rem solid var(--navds-semantic-color-border-inverted);
}

.fortsettKnapp {
  margin-top: 1.5rem;
}

.dato__wrapper {
  max-width: 31rem;
  display: flex;
  flex-direction: row;
}

.dato__wrapper > button {
  margin-top: 2rem;
  margin-left: .5rem;
}
