.saksliste__innhold {
  width: var(--page-width);
}

.saksliste__tabell {
  background-color: var(--navds-semantic-color-canvas-background-light);
  border: 1px solid var(--navds-semantic-color-border-muted);
}

.banner > h1 {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  max-width: 72rem;
  align-items: center;
}

.vedtaksflate {
  display: flex;
  flex-direction: row;
}

.gradert {
  border: 2px solid var(--navds-semantic-color-feedback-warning-border);
}

.gradert td {
  background-color: var(--navds-semantic-color-feedback-danger-background);
}

.toggleGroup {
  margin: 2rem 0 2.5rem;
  border: 1px solid var(--navds-semantic-color-border-muted);
}

.feilmelding {
  margin-top: 1rem;
  width: var(--page-width);
}

.loader__container {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}
