:root {
  --nav-min-width: 15rem;
}

.sak__container {
  width: 100%;
  min-width: 48rem;
  padding: 1rem;
}

.value {
  font-weight: 900;
  margin: 0 .25rem;
}
.key {
  font-weight: 400;
  margin: 0 .25rem;
}

.sak__header {
  background: var(--navds-semantic-color-canvas-background-light);
  padding: 1rem;
}

.rad {
  display: flex;
  flex-direction: row;
}

.sak {
  display: flex;
  flex-direction: row;
  margin-top: 1rem;
}

.sak > .sak__navigasjon {
  background: var(--navds-semantic-color-canvas-background-light);
  min-width: var(--nav-min-width);
  max-width: 20vw;
  margin-right: 1rem;
  height: fit-content;
}

.sak > .sak__navigasjon > h2 {
  padding: 1rem;
}

.sak > .sak__navigasjon > nav {
  display: flex;
  flex-direction: column;
}

.sak > .sak__navigasjon > nav svg {
  margin-right: .5rem;
}

.sak > .sak__behandling {
  background: var(--navds-semantic-color-canvas-background-light);
  padding: 1rem;
  flex: 1;
}

.blokk__header {
  border-bottom: 3px solid var(--navds-semantic-color-border-muted);
  padding: 1rem 1rem 1rem 0;
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.sentrer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
