*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--navds-semantic-color-canvas-background);
}

.main__content {
  display: grid;
  place-items: center;
}

main.radio--vertical .radio__group .navds-radio-buttons {
  display: flex;
  flex-direction: column;
}

main.radio--horizontal .radio__group .navds-radio-buttons {
  display: flex;
  flex-direction: row;
}

main.radio--horizontal .radio__group .navds-radio-buttons .navds-radio {
  margin-left: 1rem;
}

.margin-top__medium {
  margin-top: 1rem;
}
