*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

.main__content {
  padding-left: min(2rem, 4vw);
  padding-right: min(2rem, 4vw);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
